<h2>Sign In As Driver</h2>

<div >
  <%= form_for @driver, url: '/drivers/login', method: :post do |f| %>
  <div>
    <%= f.text_field :email , placeholder: "Email" %></td>
  </div>
  <div>
    <%= f.password_field :password , placeholder: "Password" %></td>
  </div>
  <br>
  <%= f.submit "Sign in as driver", class: "btn btn-default btn-primary" %>
  <% end %>
  <a class="btn btn-primary" href="drivers/new">Register as driver</a>
  <br>
  <a class="btn btn-primary" href="/">Sign in as passenger</a>
</div>